
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 
}
.imgcont{
    position: relative;
}
.Spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.container1{
    padding-top: 30px;
    border: solid 5px #3d5af1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 40rem;
    color: red;
    min-height: 60rem;

    padding-bottom: 30px;
    
    
    max-height: 58rem;
    background-color: #1a1a1a;
    border-radius: 15px;
}
.img{
    width: 38rem;
    border-radius: 10px;
    height: 30rem;
}
.tit{
    width: 90%;
    color: #22d1ee;
   
   
}
.decs::-webkit-scrollbar {
    width: 1.5vh; /* Width of the scrollbar */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  .decs::-webkit-scrollbar-thumb {
    background-color: #3d5af1; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
  }
.decs{
   
    overflow: auto;
    color: #2d6cdf;
    width: 90%;
}
.head{
    
    width: 80%;
}
.head >h4{
    color: #e2f3f5;
    font-size: 30px;
}
    
@media (max-width: 768px) {


    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
     
    }
    .container1{
        padding-top: 20px;
        border: solid 5px #3d5af1; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0px;
        margin-bottom: 30px;
        width: 22rem;
        color: red;
        min-height: 20rem;
    
        padding-bottom: 30px;
        
        overflow: hidden;
        max-height: 40rem;
        background-color: #1a1a1a;
        border-radius: 15px;
    }
    .img{
        width: 20rem;
        border-radius: 10px;
        height: 20rem;
    }
    .tit{
        font-size: 12px;
        width: 90%;
        color: #22d1ee;
       
       
    }
    .decs{
       font-size: 16px;
        color: #2d6cdf;
        width: 90%;
        overflow: auto;
      
        max-height: 8rem;
    }
    .head{
        
        width: 80%;
    }
    .head >h4{
        color: #e2f3f5;
        font-size: 30px;
    }

}