.container1{
position: relative;
width: 26.8rem;


border-radius: 15px;
border: solid 5px #3d5af1; 

height: 21rem;
}
.Spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img{z-index: -1;
    position: absolute;
    border-radius: 10px;
  
    border-radius: 15px;
  
    height: 20.5rem;
    width: 26.4rem;
}
.span1>h3{
  
    display: none;
}
.span1{
    padding-bottom: 60px;
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
  
   
    width: 25rem;
    height: 14rem;
    position: absolute;
   
    bottom: 0px;
    

}
.container1:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  }
  
  .container1:hover .span1>h3 {
    display: block;
  }

  @media (max-width: 768px) {
    .container1{
        margin: 5px;
        
        position: relative;
        width: 23rem;
        
        
        border-radius: 15px;
        border: solid 5px #3d5af1; 
        
        height: 19rem;
        }
        .img{z-index: -1;
            position: absolute;
            border-radius: 15px;
          
            border-radius: 15px;
          
            height: 18.5rem;
            width: 22.4rem;
        }
        .span1>h3{
          position: absolute;
          bottom: 0px;
            display: block;
        }
        .span1{
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
        
            align-items: flex-end;
            display: flex;
            justify-content: space-around;
            border-radius: 10px;
          
           
            width: 22.4rem;
            height: 9rem;
            position: absolute;
           
            bottom: 0px;
            
        
        }
        .container1:hover {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
          }
          
          .container1:hover .span1>h3 {
            display: block;
          }
        

  }